*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 1rem;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*-------RESPONSIVE--------*/
@media(max-width: 1300px){
  *{
    font-size: 0.9rem;
  }
}

@media(max-width: 991px){
  *{
    font-size: 0.8rem;
  }
}

@media(max-width: 768px){
  *{
    font-size: 0.7rem;
  }
}
@media(max-width: 450px){
  *{
    font-size: 0.6rem;
  }
}